/*
@autor: jonathan romero
@descripcion: esto son los estilos de la pagina principal
*/
body{
    margin:0;
    padding: 0;
    
}
header{
    background-image: url('../image/header.jpg');
    height:100vh;
    background-size:cover;
    background-position: center;
}
#header-nav{
    width:100%;
    height:180px;
    background-color: #0006;
    
    
}
.logo{
    width:150px;
    height:150px;
    padding: 15px;
    margin-left:25px; 
}
.logo img{
    width:200px;
    height: 120px;
}
.header-menu{
    width:400px;
    height: 150px;
    padding: 15px;
    position: absolute;
    top: 0px;
    left: 450px; 
}

.header-menu ul{
    list-style: none;
}
.header-menu ul li{
    display:inline-block;
    margin-left: 10px;
    margin-top:40px;
    font-family: 'Fahkwang', sans-serif;
    text-transform: uppercase;
    
}
.header-menu ul li a{
    display:inline-block;
    padding: 5px;
    text-decoration: none;
    color:white;
}
.header-menu ul li a:hover{
    color: black;
}
.img-items{
    width: 310px;
    height: 150px;
    
    position: absolute;
    top:0px;
    right:20px;
    padding: 15px;
}

.menu-social img{
    width:30px;
    float:left;
}
.menu-social ul{
    list-style: none;
}
.menu-social ul li{
    display: inline-block;
    width:30px;
    float: left;
    margin-left: 2px;
    margin-top:40px;
    
}
.shop{
    float: right;
    list-style: none;
    margin-top:25px;
    margin-right:25px;
}
.shop ul li{
    display: inline-block;
    color: white;
}
.col-1{
    border:1.5px solid white;
    padding: 5px;
}
.col-2{
    border:1.5px solid white;
    padding: 5px;
    position: relative;
    right: 6px;
}
.contenido h1, h2, h3{
    transition: 0.8s all;
}
.contenido h2{
    
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Fahkwang', sans-serif;
    text-transform: uppercase;
    
}
.contenido h1{
   
    font-size: 70px;
    text-align: center;
    color: white;
    font-family: 'Fahkwang', sans-serif;
    text-transform: uppercase;
}
.contenido h3{
    font-size: 15px;
    text-align:center;
    color:white;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
}
.contenido img{
    position: absolute;
    left: 610px;
    bottom:30px;
}
#main-body{
    background-color: #ddd;
    padding: 20px 0;
    height: auto;
}
.section-img{
    width:1100px;
    margin: 0 auto;
    
     
}
.section-img .image-shape{
    float:left;
    margin-left: 10px;
}
.section-2{
    width:750px;
    margin: 0 auto;
    
}
.section-2 .image-shape{
    float:left;
    margin-left: 10px;
}
.section-3{
    width:1100px;
    margin: 0 auto;
    
}
.section-3 .image-shape{
    float:center;
    
}

.image-shape, .image-shape div{
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 350px;
    height:350px;
    
}
.image-shape, .image-shape div{
    width: 350px;
    height:350px;
}
.image-shape{
    transform: rotate(45deg);
}
.shape1{
    background-image: url('../image/athletes.jpg');
    background-position: center;
}
.shape1{
    transform: rotate(-45deg);
}
.text1 h1{
    color: white;
    text-align:center;
    position: absolute;
    top:170px;
    left:76px; 
    font-size:45px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
}
.text1 a{
    position: absolute;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size:20px;
    top:280px;
    left:115px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    text-decoration: none;
    padding:5px; 
}
.text2 h1{
    color: white;
    text-align:center;
    position: absolute;
    top:170px;
    left:93px; 
    font-size:45px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
}
.text2 a{
    position: absolute;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size:20px;
    top:280px;
    left:115px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    text-decoration: none;
    padding:5px; 
}
.text3 h1{
    color: white;
    text-align:center;
    position: absolute;
    top:170px;
    left:52px; 
    font-size:45px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
}
.text3 a{
    position: absolute;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size:20px;
    top:280px;
    left:115px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    text-decoration: none;
    padding:5px; 
}
.text4 h1{
    color: white;
    text-align:center;
    position: absolute;
    top:170px;
    left:19px; 
    font-size:45px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
}
.text4 a{
    position: absolute;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size:20px;
    top:280px;
    left:115px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    text-decoration: none;
    padding:5px; 
}
.shape2{
    background-image: url('../image/shop.jpg');
    background-position: center;
}
.shape2{
    transform: rotate(-45deg);
}
.shape3{
    background-image: url('../image/adventures.jpg');
    background-position: center;
}
.shape3{
    transform: rotate(-45deg);
}
.shape4{
    background-image: url('../image/technology.jpg');
    background-position: center;
}
.shape4{
    transform: rotate(-45deg);
}
.shape5{
    background-image: url('../image/packing.jpg');
    background-position: center;
}
.shape5{
    transform: rotate(-45deg);
}
.shape6{
    background-image: url('../image/header.jpg');
    background-position: center;
}
.shape6{
    transform: rotate(-45deg);
}

.footer-main{
    width:100%;
    height:600px;
    padding-top:30px;
    background-image: url('../image/footer.jpg');
    background-size: 100% 100%;
    opacity: 0.6;
   
}


.mision{
    width:80%;
    height:100px;
    position: relative;
    top:20px;
    left:150px;
    text-align: center;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    color: #fff;
}
hr{
    display: block;
    height:2px;
    border:0;
    border-top:1px solid #fff;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height:360px;
    position: relative;
    top:100px;
    left:150px;
}
h2{
    font-size: 18px;
    font-family: 'Fahkwang', sans-serif;
    text-transform:uppercase;
    color: #fff  ; 
    text-align: center;
}
.col1, .col2, .col3, .col4, .col5{
    
    margin:10px;
    width:1100px;
    height: 380px;
   
}
.col1,.col2,.col3,.col4,.col5{
    
    max-width: 300px;
    
}
.col1 ul{
    margin-top:20px;
}
.col1 ul li{
    margin:0;
    margin-right:30px; 
    padding:7px;
    list-style: none;
}
.col1 ul li a{
    text-decoration: none;
    color:white;
}
.col2 ul{
    margin-top:20px;
}
.col2 ul li{
    margin:0;
    margin-right:30px; 
    padding:7px;
    list-style: none;
}
.col2 ul li a{
    text-decoration: none;
    color:white;
}
.col3 ul{
    margin-top:20px;
}
.col3 ul li{
    margin:0;
    padding:7px;
    list-style: none;
}
.col3 ul li a{
    text-decoration: none;
    color:white;
}
.col4 ul{
    margin-top:20px;
}
.col4 ul li{
    margin:0;
    padding:7px;
    list-style: none;
}
.col4 ul li a{
    text-decoration: none;
    color:white;
}

.social img{
    width:30px;
}
.social ul li{
    display: inline-block;
    list-style: none;
    padding: 2px;

}

.col6{
    width:200px;
    height:380px;
    margin: 10px;
}

.col6 img{
    width:150px;
    padding: 10px;
    position: relative;
    top: 50px;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: relative;
    top:20px;
    left:150px;
}
.footer-end p{
    color: #fff; 
}
.footer-end a{
    text-decoration: none;
    color: #fff;
    padding-top:20px;
}
.footer-end a:hover{
    color:#E0E0E0;
}